<!-- Cart Container (Carrito de Compras) -->
<button class="go-home-btn" (click)="gotoHome()">Go Home</button>
<div class="cart-container">
  <h2>Your Shopping Cart</h2>
  <ul>
    <li *ngFor="let item of cart" class="cart-item">
      <div class="cart-item-info">
        <span class="product-name">{{ item.product.name }}</span> x
        <span class="quantity">{{ item.quantity }}</span>
        - ${{ item.product.price * item.quantity }}
      </div>
      <div class="quantity-controls">
        <button class="quantity-btn" (click)="decreaseQuantity(item)">-</button>
        <button class="quantity-btn" (click)="increaseQuantity(item)">+</button>
      </div>
    </li>
  </ul>
  <div class="total">
    <p><strong>Total:</strong> ${{ total }}</p>
  </div>
  <button class="clear-cart-btn" (click)="clearCart()">Vaciar carrito</button>
</div>
