.card {
  animation: 2s gradient-angle infinite linear;
  border: 2px solid transparent;
  background-image: linear-gradient(#584827, #2d230f),
    conic-gradient(
      from var(--gradient-angle),
      #584827 0%,
      #c7a03c 37%,
      #f9de90 30%,
      #c7a03c 33%,
      #584827 40%,
      #584827 50%,
      #c7a03c 77%,
      #f9de90 80%,
      #c7a03c 83%,
      #584827 90%
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-radius: 12px;
  margin: 20px auto;
  padding: 20px;
}

.cart-container {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin: 0; /* Elimina márgenes */
  width: 100vw; /* Asegura que ocupe el ancho completo del viewport */
  max-width: 100%;
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3b2f63, #111);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: curtain-open 3s forwards ease-in-out;
}

@keyframes curtain-open {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/* Estilo para el toolbar */
.toolbar-content {
  display: flex; /* Asegura que los elementos se alineen en línea */
  align-items: center; /* Alinea verticalmente el contenido */
  height: 56px; /* Altura estándar de un toolbar en Ionic */
}

ion-title {
  font-size: 1.8rem; /* Ajusta el tamaño del título si es necesario */
  margin: 0; /* Elimina márgenes que puedan afectar la alineación */
  padding: 0; /* Elimina padding por defecto */
  flex-grow: 1; /* Permite que el título ocupe el espacio disponible */
  text-align: center; /* Centra el texto dentro del título */
}

.cart-button {
  background: none;  /* Sin fondo */
  border: none;      /* Sin borde */
  padding: 0;        /* Sin padding */
  cursor: pointer;   /* Manito al pasar el cursor */
  font-size: 2rem;   /* Tamaño del icono ajustado */
  color: #333;       /* Color del icono */
  margin-right: 10px; /* Espacio entre el icono del carrito y el título */
  vertical-align: middle; /* Alinea verticalmente el icono con el texto */
  position: relative; /* Permite el desplazamiento en relación al contenedor */
  top: 15px;           /* Mueve el botón más abajo (ajustable) */
  left: 5px;           /* Mueve el botón un poco hacia la derecha (ajustable) */
}

.cart-button span.material-icons {
  font-size: 2rem; /* Tamaño del icono ajustado */
  line-height: 0;  /* Elimina espacio extra alrededor del icono */
}
