.card {
  animation: 2s gradient-angle infinite linear;
  border: 2px solid transparent;
  background-image: linear-gradient(#584827, #2d230f),
    conic-gradient(
      from var(--gradient-angle),
      #584827 0%,
      #c7a03c 37%,
      #f9de90 30%,
      #c7a03c 33%,
      #584827 40%,
      #584827 50%,
      #c7a03c 77%,
      #f9de90 80%,
      #c7a03c 83%,
      #584827 90%
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-radius: 12px;
  margin: 20px auto;
  padding: 20px;
}

.cart-container {

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin: 0; /* Elimina márgenes */
  width: 100vw; /* Asegura que ocupe el ancho completo del viewport */
  max-width: 100%;
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.cart-container h3 {
  font-size: 1.4rem;
  color: #80d314;
  margin-bottom: 10px;
  text-align: center;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
}

.cart-container li {
  margin: 5px 0;
  font-weight: bold;
  font-size: 1.4rem;
  color: #e0e407;
}

.cart-container p {
  font-weight: bold;
  font-size: 1.4rem;
  color: #007bff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3b2f63, #111);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: curtain-open 3s forwards ease-in-out;
}

@keyframes curtain-open {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/* Opcional: animación de desvanecimiento del contenido */
.container {
  opacity: 0;
  animation: fade-in 2s 3s forwards ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Estilo para los botones de cantidad */
.quantity-btn {
  background-color: #3880ff; /* Color de fondo azul */
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 5px;
}

/* Efecto al pasar el cursor sobre los botones */
.quantity-btn:hover {
  background-color: #4c8dff; /* Color de fondo azul más oscuro */
  transform: scale(1.1); /* Efecto de aumentar tamaño */
}

/* Estilo para los botones cuando están deshabilitados */
.quantity-btn:disabled {
  background-color: #d3d3d3; /* Color gris cuando está deshabilitado */
  cursor: not-allowed;
}

