<ion-content>
  <ion-header>
    <ion-toolbar class="toolbar-content">
      <button routerLink="/cart" class="cart-button">
        <span class="material-icons">shopping_cart</span>
      </button>
      <ion-title>Tiendita confi</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Telón (Cortina) visible cuando `showCurtain` es true -->
  <div class="curtain" *ngIf="showCurtain"></div>

  <!-- Resultados o componentes adicionales -->
  <div class="results">
    <router-outlet></router-outlet>
  </div>
</ion-content>