<!-- Video de fondo -->
<div class="video-background">
  <video autoplay muted loop>
    <source src="/fondo.mp4" type="video/mp4" />
  </video>
</div>

<!-- Contenedor principal -->
<div class="container">
  <!-- Sección del título -->
  <ng-container *ngIf="true">
    <div
      class="title-container"
      style="background-image: url('https://img.freepik.com/fotos-premium/fondo-colorido-controladores-videojuegos-palabras-juego_662214-35244.jpg');"
    >
      <h1 class="title">GAME-SHOP</h1>
    </div>
  </ng-container>

  <!-- Grid de productos -->
  <ng-container *ngIf="products && products.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4" *ngFor="let product of products">
          <!-- Tarjeta del producto -->
          <ion-card class="product-card">
            <img
              [src]="product.imageUrl"
              [alt]="product.name"
              class="product-image"
            />
            <ion-card-header>
              <ion-card-title>{{ product.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="product-price">Precio: {{ product.price }}</p>
            </ion-card-content>
            <ion-button expand="block" [routerLink]="['/product', product.id]">
              Ver Detalles
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</div>